---
esphome:
  area: Kitchen
  compile_process_limit: 2
  friendly_name: esp-kitchen-1
  min_version: 2025.11.0
  name: esp-kitchen-1

esp32:
  board: esp32-c6-devkitm-1
  framework:
    type: esp-idf
  variant: esp32c6

api:
  encryption:
    key: !secret api_5
  reboot_timeout: 0s

ota:
  - platform: esphome
    id: ota_esphome
    password: !secret ota_5

logger:

wifi:
  domain: .ygg.nu
  password: !secret wifi_password
  ssid: !secret wifi_ssid

binary_sensor:
  - platform: status
    device_class: connectivity
    entity_category: diagnostic
    id: system_status
    name: Node Status
  - platform: gpio
    filters:
      - delayed_off: 10ms
    name: Button
    pin:
      ignore_strapping_warning: true
      inverted: true
      mode:
        input: true
        pullup: true
      number: GPIO9
  - platform: gpio
    device_class: moisture
    filters:
      - delayed_off: 1000ms
      - delayed_on: 100ms
    name: Moisture hit
    pin:
      inverted: true
      mode:
        input: true
        pullup: true
      number: GPIO2

bluetooth_proxy:
  active: true

button:
  - platform: safe_mode
    id: button_safe_mode
    name: Safe Mode Boot
  - platform: factory_reset
    id: factory_reset_btn
    name: Factory reset

esp32_ble_tracker:
  scan_parameters:
    active: true

light:
  - platform: status_led
    entity_category: diagnostic
    id: led
    name: LED
    pin: GPIO7
  - platform: esp32_rmt_led_strip
    chipset: ws2812
    effects:
      - addressable_rainbow:
      - flicker:
      - random:
      - strobe:
    id: rgb
    is_rgbw: true
    name: RGB
    num_leds: 1
    pin: GPIO20
    power_supply: rgbpwr
    restore_mode: RESTORE_DEFAULT_OFF
    rgb_order: GRB

power_supply:
  - id: rgbpwr
    enable_on_boot: true
    enable_time: 10ms
    keep_on_time: 10ms
    pin: GPIO19

sensor:
  - platform: uptime
    device_class: duration
    entity_category: diagnostic
    icon: mdi:timer-outline
    id: uptime_s
    name: Uptime
    state_class: total_increasing
    update_interval: 300s
  - platform: wifi_signal
    accuracy_decimals: 0
    device_class: signal_strength
    entity_category: diagnostic
    icon: mdi:wifi-strength-3
    id: wifi_signal_db
    name: Wi-Fi Signal
    state_class: measurement
    unit_of_measurement: dBm
    update_interval: 60s
  - platform: adc
    accuracy_decimals: 3
    attenuation: 12db
    id: soil_voltage
    name: "Soil Moisture Voltage"
    pin:
      mode:
        input: true
      number: GPIO1
    unit_of_measurement: "V"
    update_interval: 10s
  - platform: template
    accuracy_decimals: 0
    device_class: moisture
    filters:
      - median:
          send_every: 1
          send_first_at: 1
          window_size: 5
      - sliding_window_moving_average:
          send_every: 3
          window_size: 9
    id: soil_percent
    lambda: |-
      float v = id(soil_voltage).state;
      const float V_dry = 3.28;
      const float V_wet = 1.45;
      float pct = (V_dry - v) * 100.0f / (V_dry - V_wet);
      if (pct < 0.0f) pct = 0.0f;
      if (pct > 100.0f) pct = 100.0f;
      return pct;
    name: "Soil Moisture"
    state_class: measurement
    unit_of_measurement: "%"
    update_interval: 10s
