# %YAML 1.2
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json  # yamllint disable-line
---
# version: "3.9"
name: ygg-mon

networks:
  macvlan1:
    external: true

x-common: &common
  dns:
    - 10.4.21.34
    - 1.1.1.1
  dns_search: int.tnt.photo
  restart: "no"
  stop_grace_period: 1.5m

x-env: &env
  TZ: Etc/UTC

x-tz: &tz /usr/share/zoneinfo/Etc/UTC:/etc/localtime:ro

secrets:
  hass-bearer-token:
    file: hass-bearer-token.txt

services:
  loki:
    <<: *common
    command: -config.file=/etc/loki/config.yaml
    container_name: loki
    cpu_count: 1
    deploy:
      resources:
        limits:
          # cpus: "1"
          memory: 1024M
    environment:
      <<: *env
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget --no-verbose --tries=1 --spider http://localhost:3100/ready || exit 1",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
    hostname: loki
    image: "grafana/loki:latest"
    mac_address: "0e:be:00:da:00:80"
    networks:
      macvlan1:
        ipv4_address: 10.4.21.80
    user: "1028:100"
    volumes:
      - *tz
      - "/volume2/docker/loki/config.yaml:/etc/loki/config.yaml:ro"
      - "/volume2/docker/loki/data:/loki"

  alloy:
    <<: *common
    command: run --server.http.listen-addr=0.0.0.0:12345 --storage.path=/var/lib/alloy/data /etc/alloy/config.alloy
    container_name: alloy
    cpu_count: 1
    depends_on:
      - loki
    deploy:
      resources:
        limits:
          # cpus: "1"
          memory: 1024M
    devices:
      - /dev/kmsg
    environment:
      <<: *env
      ALLOY_DEPLOY_MODE: docker
      ALLOY_HOST: yggdrasil
      LOKI_URL: "http://loki:3100/loki/api/v1/push"
      PROM_URL: "http://prometheus:9090/api/v1/write"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget --no-verbose --tries=1 --spider http://127.0.0.1:12345/ || exit 1",
        ]
      interval: 30s
      timeout: 5s
      retries: 5
    hostname: alloy
    image: "grafana/alloy:latest"
    mac_address: "0e:be:00:da:00:81"
    networks:
      macvlan1:
        ipv4_address: 10.4.21.81
    volumes:
      - *tz
      - "/volume2/docker/loki/config.alloy:/etc/alloy/config.alloy:ro"
      - "/proc:/rootproc:ro"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "/sys:/sys:ro"
      - "/:/rootfs:ro"
      - "/dev/disk/:/dev/disk:ro"
      - "/var/lib/docker/:/var/lib/docker:ro"

  grafana:
    <<: *common
    cap_add:
      - NET_BIND_SERVICE
    container_name: grafana
    cpu_count: 1
    depends_on:
      - loki
      - alloy
    deploy:
      resources:
        limits:
          # cpus: "1"
          memory: 512M
    entrypoint:
      - sh
      - -euc
      - |
        mkdir -p /etc/grafana/provisioning/datasources
        cat <<EOF > /etc/grafana/provisioning/datasources/ds.yaml
        apiVersion: 1
        datasources:
          - name: Loki
            type: loki
            access: proxy
            url: http://loki:3100
            isDefault: true
            version: 1
            editable: false
          - name: Prometheus
            type: prometheus
            url: http://prometheus:9090
            isDefault: false
            version: 1
            editable: false
        EOF
        exec /run.sh
    env_file: grafana.txt
    environment:
      <<: *env
      GF_FEATURE_TOGGLES_ENABLE: "provisioning,kubernetesDashboards"
      GF_SERVER_DOMAIN: grafana.ext.tnt.photo
      GF_SERVER_HTTP_PORT: 3000
      GF_SERVER_PROTOCOL: http
      GF_SERVER_ROOT_URL: "http://grafana.ext.tnt.photo"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget --no-verbose --tries=1 --spider http://localhost:3000/api/health || exit 1",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
    image: "grafana/grafana:latest"
    labels:
      traefik.enable: true
      traefik.http.routers.grafana.entrypoints: websecure
      traefik.http.routers.grafana.rule: "Host(`grafana.int.tnt.photo`) || Host(`grafana.ext.tnt.photo`)"
      traefik.http.routers.grafana.tls: true
      traefik.http.services.grafana.loadbalancer.server.port: 3000
    mac_address: "0e:be:00:da:00:82"
    networks:
      macvlan1:
        aliases:
          - grafana.ext.tnt.photo
          - grafana.int.tnt.photo
        ipv4_address: 10.4.21.82
    user: "1028:100"
    volumes:
      - *tz
      - "/volume2/docker/grafana:/var/lib/grafana"

  prometheus:
    <<: *common
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--web.enable-remote-write-receiver"
      - --enable-feature=native-histograms
    container_name: prometheus
    cpu_count: 1
    depends_on:
      - alloy
    deploy:
      resources:
        limits:
          # cpus: "1"
          memory: 1024M
    environment:
      <<: *env
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget --no-verbose --tries=1 --spider http://localhost:9090/-/ready || exit 1",
        ]
      interval: 30s
      timeout: 5s
      retries: 5
    hostname: prometheus
    image: prom/prometheus:latest
    mac_address: "0e:be:00:da:00:83"
    networks:
      macvlan1:
        ipv4_address: 10.4.21.83
    secrets:
      - hass-bearer-token
    user: "1028:100"
    volumes:
      - *tz
      - "/volume2/docker/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro"
      - "/volume2/docker/prometheus:/prometheus"
