# %YAML 1.2
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json  # yamllint disable-line
---
# version: "3.9"
name: ygg-mon

networks:
  macvlan1:
    external: true

x-common: &common
  dns:
    - 10.4.21.34
    - 1.1.1.1
  dns_search:
    - ebi.nu
    - ygg.nu
  restart: "no"
  stop_grace_period: 1.5m

x-env: &env
  TZ: Etc/UTC

x-tz: &tz /usr/share/zoneinfo/Etc/UTC:/etc/localtime:ro

secrets:
  hass-bearer-token:
    file: hass-bearer-token.txt

services:
  alloy:
    <<: *common
    cap_add:
      - SYS_ADMIN
      - SYSLOG
    command: run --server.http.listen-addr=0.0.0.0:12345 --storage.path=/var/lib/alloy/data /etc/alloy/config.alloy
    container_name: alloy
    cpu_count: 1
    depends_on:
      - loki
    deploy:
      resources:
        limits:
          # cpus: "1"
          memory: 1024M
    devices:
      - /dev/kmsg
    environment:
      <<: *env
      ALLOY_DEPLOY_MODE: docker
      ALLOY_HOST: yggdrasil
      LOKI_URL: "http://loki:3100/loki/api/v1/push"
      PROM_URL: "http://prometheus:9090/api/v1/write"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    hostname: alloy
    image: "docker.io/grafana/alloy:latest"
    labels:
      traefik.enable: "true"
      traefik.http.routers.alloy.entrypoints: websecure
      traefik.http.routers.alloy.rule: "Host(`alloy.ebi.nu`) || Host(`alloy.ygg.nu`)"
      traefik.http.routers.alloy.tls: "true"
      traefik.http.services.alloy.loadbalancer.server.port: 12345
    mac_address: "0e:be:00:da:00:81"
    networks:
      macvlan1:
        ipv4_address: 10.4.21.81
    volumes:
      - *tz
      - "/:/rootfs:ro"
      - "/dev/disk/:/dev/disk:ro"
      - "/dev/mapper/:/dev/mapper:ro"
      - "/proc:/rootproc:ro"
      - "/sys:/sys:ro"
      - "/sys/fs/cgroup:/sys/fs/cgroup:ro"
      - "/var/lib/docker/:/var/lib/docker:ro"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "/volume2/docker/loki/config.alloy:/etc/alloy/config.alloy:ro"

  grafana:
    <<: *common
    cap_add:
      - NET_BIND_SERVICE
    container_name: grafana
    cpu_count: 1
    depends_on:
      - loki
      - alloy
    deploy:
      resources:
        limits:
          # cpus: "1"
          memory: 512M
    entrypoint:
      - sh
      - -euc
      - |
        mkdir -p /etc/grafana/provisioning/datasources
        cat <<EOF > /etc/grafana/provisioning/datasources/ds.yaml
        apiVersion: 1
        datasources:
          - name: Loki
            type: loki
            access: proxy
            url: http://loki:3100
            isDefault: true
            version: 1
            editable: false
          - name: Prometheus
            type: prometheus
            url: http://prometheus:9090
            isDefault: false
            version: 1
            editable: false
        EOF
        exec /run.sh
    env_file: grafana.txt
    environment:
      <<: *env
      GF_AUTH_GENERIC_OAUTH_ENABLED: true
      GF_AUTH_GENERIC_OAUTH_NAME: Keycloak-OAuth
      GF_AUTH_GENERIC_OAUTH_ALLOW_SIGN_UP: true
      GF_AUTH_GENERIC_OAUTH_SCOPES: openid email profile offline_access roles
      GF_AUTH_GENERIC_OAUTH_EMAIL_ATTRIBUTE_PATH: email
      GF_AUTH_GENERIC_OAUTH_LOGIN_ATTRIBUTE_PATH: username
      GF_AUTH_GENERIC_OAUTH_NAME_ATTRIBUTE_PATH: full_name
      GF_AUTH_GENERIC_OAUTH_AUTH_URL: "https://keycloak.ebi.nu/realms/ygg/protocol/openid-connect/auth"
      GF_AUTH_GENERIC_OAUTH_TOKEN_URL: "https://keycloak.ebi.nu/realms/ygg/protocol/openid-connect/token"
      GF_AUTH_GENERIC_OAUTH_API_URL: "https://keycloak.ebi.nu/realms/ygg/protocol/openid-connect/userinfo"
      GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH: "contains(roles[*], 'admin') && 'Admin' || contains(roles[*], 'editor') && 'Editor' || 'Viewer'"
      GF_AUTH_GENERIC_OAUTH_GROUPS_ATTRIBUTE_PATH: groups
      GF_AUTH_GENERIC_OAUTH_SIGNOUT_REDIRECT_URL: "https://keycloak.ebi.nu/realms/ygg/protocol/openid-connect/logout?post_logout_redirect_uri=https%3A%2F%2Fgrafana.ebi.nu%2Flogin"
      GF_AUTH_GENERIC_OAUTH_USE_REFRESH_TOKEN: true
      GF_FEATURE_TOGGLES_ENABLE: "provisioning,kubernetesDashboards"
      GF_SERVER_DOMAIN: grafana.ebi.nu
      GF_SERVER_HTTP_PORT: 3000
      GF_SERVER_PROTOCOL: http
      GF_SERVER_ROOT_URL: "https://grafana.ebi.nu"
    healthcheck:
      interval: 10s
      retries: 5
      test:
        [
          "CMD-SHELL",
          "wget --no-verbose --tries=1 --spider http://localhost:3000/api/health || exit 1",
        ]
      timeout: 5s
    hostname: grafana
    image: "docker.io/grafana/grafana:latest"
    labels:
      traefik.enable: "true"
      traefik.http.routers.grafana.entrypoints: websecure
      traefik.http.routers.grafana.rule: "Host(`grafana.ebi.nu`) || Host(`grafana.ygg.nu`)"
      traefik.http.routers.grafana.tls: "true"
      traefik.http.services.grafana.loadbalancer.server.port: 3000
    mac_address: "0e:be:00:da:00:82"
    networks:
      macvlan1:
        aliases:
          - grafana.ebi.nu
          - grafana.ygg.nu
        ipv4_address: 10.4.21.82
    user: "1028:100"
    volumes:
      - *tz
      - "/volume2/docker/grafana:/var/lib/grafana"

  loki:
    <<: *common
    command: -config.file=/etc/loki/config.yaml
    container_name: loki
    cpu_count: 1
    deploy:
      resources:
        limits:
          # cpus: "1"
          memory: 1024M
    environment:
      <<: *env
    hostname: loki
    image: "docker.io/grafana/loki:latest"
    labels:
      traefik.enable: "true"
      traefik.http.routers.loki.entrypoints: websecure
      traefik.http.routers.loki.rule: "Host(`loki.ebi.nu`) || Host(`loki.ygg.nu`)"
      traefik.http.routers.loki.tls: "true"
      traefik.http.services.loki.loadbalancer.server.port: 3100
    mac_address: "0e:be:00:da:00:80"
    networks:
      macvlan1:
        ipv4_address: 10.4.21.80
    user: "1028:100"
    volumes:
      - *tz
      - "/volume2/docker/loki/config.yaml:/etc/loki/config.yaml:ro"
      - "/volume2/docker/loki/data:/loki"

  prometheus:
    <<: *common
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--enable-feature=native-histograms"
      - "--web.enable-remote-write-receiver"
    container_name: prometheus
    cpu_count: 1
    depends_on:
      - alloy
    deploy:
      resources:
        limits:
          # cpus: "1"
          memory: 1024M
    environment:
      <<: *env
    healthcheck:
      interval: 30s
      retries: 5
      test:
        [
          "CMD-SHELL",
          "wget --no-verbose --tries=1 --spider http://localhost:9090/-/ready || exit 1",
        ]
      timeout: 5s
    hostname: prometheus
    image: "docker.io/prom/prometheus:latest"
    labels:
      traefik.enable: "true"
      traefik.http.routers.prometheus.entrypoints: websecure
      traefik.http.routers.prometheus.rule: "Host(`prometheus.ebi.nu`) || Host(`prometheus.ygg.nu`)"
      traefik.http.routers.prometheus.tls: "true"
      traefik.http.services.prometheus.loadbalancer.server.port: 9090
    mac_address: "0e:be:00:da:00:83"
    networks:
      macvlan1:
        ipv4_address: 10.4.21.83
    secrets:
      - hass-bearer-token
    user: "1028:100"
    volumes:
      - *tz
      - "/volume2/docker/prometheus/data:/prometheus/data"
      - "/volume2/docker/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro"
      - "/volume2/docker/prometheus/rules_compat.yml:/etc/prometheus/rules_compat.yml:ro"
