# %YAML 1.2
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json  # yamllint disable-line
---
# version: "3.9"
name: ygg-home

networks:
  macvlan1:
    external: true

x-common: &common
  dns:
    - 10.4.21.34
    - 1.1.1.1
  dns_search:
    - ebi.nu
    - ygg.nu
  restart: "no"
  stop_grace_period: 3m

x-env: &env
  PUID: 1028
  PGID: 100
  TZ: Etc/UTC

x-tz: &tz /usr/share/zoneinfo/Etc/UTC:/etc/localtime:ro

services:
  bjornify:
    <<: *common
    container_name: bjornify
    cpu_count: 1
    deploy:
      resources:
        limits:
          # cpus: "1"
          memory: 256M
    env_file: bjornify.txt
    environment:
      <<: *env
    hostname: bjornify
    image: "ghcr.io/ebertek/bjornify:latest"
    mac_address: "0e:be:00:da:00:52"
    networks:
      macvlan1:
        ipv4_address: 10.4.21.52
    stop_signal: SIGINT
    user: "1028:100"
    volumes:
      - *tz
      - "/volume2/docker/bjornify/logs:/app/logs"
      - "/volume2/docker/bjornify/secrets:/app/secrets"

  books:
    <<: *common
    container_name: books
    cpu_count: 1
    # depends_on:
    #   calibre:
    #     condition: service_started
    deploy:
      resources:
        limits:
          # cpus: "1"
          memory: 512M
    environment:
      <<: *env
      UMASK: 002
      # DOCKER_MODS: "linuxserver/mods:universal-calibre"  # Doesn't work due to old Synology kernel
      DOCKER_MODS: >
        lscr.io/linuxserver/mods:universal-calibre-v7.16.0|
        lscr.io/linuxserver/mods:calibre-web-dtrpg-metadata
      OAUTHLIB_RELAX_TOKEN_SCOPE: 1
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 60s
      test:
        ["CMD-SHELL", "curl -fsS http://127.0.0.1:8083/ >/dev/null || exit 1"]
      timeout: 5s
    hostname: books
    image: "lscr.io/linuxserver/calibre-web:latest"
    labels:
      traefik.enable: "true"
      traefik.http.routers.books.entrypoints: websecure
      traefik.http.routers.books.middlewares: sweden@file
      traefik.http.routers.books.rule: "Host(`books.ebi.nu`) || Host(`books.ygg.nu`)"
      traefik.http.routers.books.tls: "true"
      traefik.http.services.books.loadbalancer.server.port: 8083
    mac_address: "0e:be:00:da:00:59"
    networks:
      macvlan1:
        aliases:
          - books.ebi.nu
          - books.ygg.nu
        ipv4_address: 10.4.21.59
    volumes:
      - *tz
      - "/volume2/docker/calibre-web:/config"
      - "/volume1/Downloads:/downloads"

  plex:
    <<: *common
    container_name: plex
    cpu_count: 4
    devices:
      - "/dev/dri:/dev/dri"
    deploy:
      resources:
        limits:
          # cpus: "4"
          memory: 1024M
    env_file: plex.txt
    environment:
      <<: *env
      PLEX_UID: 1028
      PLEX_GID: 100
      ALLOWED_NETWORKS: 10.4.21.0/24
    hostname: plex
    image: "docker.io/plexinc/pms-docker:latest"
    labels:
      traefik.enable: "true"
      traefik.http.routers.plex.entrypoints: websecure
      traefik.http.routers.plex.rule: "Host(`plex.ebi.nu`) || Host(`plex.ygg.nu`)"
      traefik.http.routers.plex.tls: "true"
      traefik.http.services.plex.loadbalancer.server.port: 32400
    mac_address: "0e:be:00:da:00:40"
    networks:
      macvlan1:
        aliases:
          - plex.ebi.nu
          - plex.ygg.nu
        ipv4_address: 10.4.21.40
    volumes:
      - *tz
      - "/volume2/docker/plex/config:/config"
      - "/volume2/docker/plex/transcode:/transcode"
      - "/volume1/Downloads:/data"

  tautulli:
    <<: *common
    container_name: tautulli
    cpu_count: 1
    depends_on:
      - plex
    deploy:
      resources:
        limits:
          # cpus: "1"
          memory: 256M
    environment:
      <<: *env
    hostname: tautulli
    image: "ghcr.io/tautulli/tautulli:latest"
    labels:
      traefik.enable: "true"
      traefik.http.routers.tautulli.entrypoints: websecure
      traefik.http.routers.tautulli.rule: "Host(`tautulli.ebi.nu`) || Host(`tautulli.ygg.nu`)"
      traefik.http.routers.tautulli.tls: "true"
      traefik.http.services.tautulli.loadbalancer.server.port: 8181
    mac_address: "0e:be:00:da:00:41"
    networks:
      macvlan1:
        aliases:
          - tautulli.ebi.nu
          - tautulli.ygg.nu
        ipv4_address: 10.4.21.41
    volumes:
      - *tz
      - "/volume2/docker/tautulli:/config"
      - "/volume2/docker/plex/config/Library/Application Support/Plex Media Server/Logs:/logs:ro" # yamllint disable-line

  tmm:
    <<: *common
    container_name: tmm
    cpu_count: 2
    deploy:
      resources:
        limits:
          # cpus: "2"
          memory: 1536M
    environment:
      <<: *env
      USER_ID: 1028
      GROUP_ID: 100
      UMASK: 002
      ALLOW_DIRECT_VNC: false
      LANG: en_US.UTF-8
      LC_ALL: en_US.UTF-8
      LC_TIME: C.UTF-8
    healthcheck:
      interval: 1m
      retries: 3
      start_period: 60s
      test: ["CMD-SHELL", "pgrep Xtigervnc >/dev/null || exit 1"]
      timeout: 10s
    hostname: tmm
    image: "docker.io/tinymediamanager/tinymediamanager:latest"
    labels:
      traefik.enable: "true"
      traefik.http.routers.tmm.entrypoints: websecure
      traefik.http.routers.tmm.rule: "Host(`tmm.ebi.nu`) || Host(`tmm.ygg.nu`)"
      traefik.http.routers.tmm.tls: "true"
      traefik.http.services.tmm.loadbalancer.server.port: 4000
    mac_address: "0e:be:00:da:00:53"
    networks:
      macvlan1:
        aliases:
          - tmm.ebi.nu
          - tmm.ygg.nu
        ipv4_address: 10.4.21.53
    volumes:
      - *tz
      - "/volume2/docker/tmm/data:/data"
      # - "/volume2/docker/tmm/app/addons:/app/addons"
      - "/volume1/Downloads:/downloads"
