# %YAML 1.2
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json  # yamllint disable-line
# https://github.com/immich-app/immich/commits/main/docker/docker-compose.yml
# https://github.com/immich-app/immich/commits/main/docker/example.env
---
# version: "3.9"
name: ygg-immich

networks:
  macvlan1:
    external: true

x-common: &common
  dns:
    - 10.4.21.34
    - 1.1.1.1
  dns_search:
    - ebi.nu
    - ygg.nu
  labels:
    com.centurylinklabs.watchtower.monitor-only: true
  restart: "no"
  stop_grace_period: 1m

x-env: &env
  DB_DATABASE_NAME: immich
  DB_HOSTNAME: database
  REDIS_HOSTNAME: redis
  TZ: Etc/UTC

x-tz: &tz /usr/share/zoneinfo/Etc/UTC:/etc/localtime:ro

services:
  database:
    <<: *common
    container_name: database
    cpu_count: 2
    deploy:
      resources:
        limits:
          # cpus: "2"
          memory: 1536M
    env_file:
      - db.txt
      - pg.txt
    environment:
      <<: *env
      POSTGRES_DB: immich
      POSTGRES_INITDB_ARGS: "--data-checksums"
    healthcheck:
      interval: 1m
      retries: 3
      start_period: 1m
      test: [CMD, pg_isready]
      timeout: 10s
    hostname: database
    image: "ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:41eacbe83eca995561fe43814fd4891e16e39632806253848efaf04d3c8a8b84" # yamllint disable-line
    mac_address: "0e:be:00:da:00:51"
    networks:
      macvlan1:
        ipv4_address: 10.4.21.51
    shm_size: 128mb
    # user: 1028:100
    volumes:
      - *tz
      - /volume2/docker/immich/postgres:/var/lib/postgresql/data

  immich:
    <<: *common
    container_name: immich
    cpu_count: 4
    depends_on:
      - redis
      - database
    deploy:
      resources:
        limits:
          # cpus: "4"
          memory: 1536M
    devices:
      - /dev/dri:/dev/dri
    env_file: db.txt
    environment:
      <<: *env
      IMMICH_TELEMETRY_INCLUDE: all
      NO_COLOR: true
    healthcheck:
      disable: true
      interval: 30s
      retries: 5
      start_period: 60s
      test:
        [
          "CMD-SHELL",
          "curl -fsS http://127.0.0.1:3001/api/server/version >/dev/null || exit 1",
        ]
      timeout: 10s
    hostname: immich
    image: "ghcr.io/immich-app/immich-server:release"
    labels:
      traefik.enable: "true"
      traefik.http.routers.immich.entrypoints: websecure
      traefik.http.routers.immich.rule: "Host(`immich.ebi.nu`) || Host(`immich.ygg.nu`)"
      traefik.http.routers.immich.tls: "true"
      traefik.http.services.immich.loadbalancer.server.port: 2283
    mac_address: "0e:be:00:da:00:48"
    networks:
      macvlan1:
        aliases:
          - immich.ebi.nu
          - immich.ygg.nu
        ipv4_address: 10.4.21.48
    user: 1028:100
    volumes:
      - *tz
      - /volume1/photo/Pictures:/mnt/media/Pictures:ro
      - /volume2/docker/immich/upload:/usr/src/app/upload

  immich-machine-learning:
    <<: *common
    container_name: immich-machine-learning
    cpu_count: 4
    deploy:
      resources:
        limits:
          # cpus: "4"
          memory: 1536M
    device_cgroup_rules:
      - "c 189:* rmw"
    devices:
      - /dev/dri:/dev/dri
    env_file: db.txt
    environment:
      <<: *env
      NO_COLOR: true
    healthcheck:
      disable: true
    hostname: immich-machine-learning
    image: "ghcr.io/immich-app/immich-machine-learning:release"
    mac_address: "0e:be:00:da:00:49"
    networks:
      macvlan1:
        ipv4_address: 10.4.21.49
    user: 1028:100
    volumes:
      - *tz
      - /volume2/docker/immich/cache:/cache
      - /dev/bus/usb:/dev/bus/usb

  redis:
    <<: *common
    container_name: redis
    cpu_count: 2
    deploy:
      resources:
        limits:
          # cpus: "2"
          memory: 2048M
    env_file: db.txt
    environment:
      <<: *env
    healthcheck:
      interval: 1m
      retries: 3
      start_period: 1m
      test: [CMD, valkey-cli, -h, 127.0.0.1, ping]
      timeout: 10s
    hostname: redis
    image: "docker.io/valkey/valkey:8-bookworm@sha256:fea8b3e67b15729d4bb70589eb03367bab9ad1ee89c876f54327fc7c6e618571" # yamllint disable-line
    mac_address: "0e:be:00:da:00:50"
    networks:
      macvlan1:
        ipv4_address: 10.4.21.50
    sysctls:
      net.core.somaxconn: 512
    # user: 1028:100
    volumes:
      - *tz
      - /volume2/docker/immich/redis:/data
