# %YAML 1.2
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json  # yamllint disable-line
---
# version: "3.9"
name: ygg-other

networks:
  macvlan1:
    external: true

x-common: &common
  dns:
    - 10.4.21.34
    - 1.1.1.1
  dns_search:
    - ygg.nu
  restart: "no"
  stop_grace_period: 2m

x-env: &env
  TZ: Etc/UTC

x-tz: &tz /usr/share/zoneinfo/Etc/UTC:/etc/localtime:ro

services:
  acmesh:
    <<: *common
    command: daemon
    container_name: acmesh
    cpu_count: 1
    deploy:
      resources:
        limits:
          # cpus: "1"
          memory: 128M
    env_file: acmesh.txt
    environment:
      <<: *env
      PUID: 1028
      PGID: 100
    healthcheck:
      interval: 1m
      retries: 5
      start_period: 60s
      test:
        [
          "CMD-SHELL",
          "acme.sh --version >/dev/null 2>&1 && test -s /acme.sh/account.conf",
        ]
      timeout: 5s
    hostname: acmesh
    image: "docker.io/neilpang/acme.sh:latest"
    mac_address: "0e:be:00:da:00:36"
    networks:
      macvlan1:
        ipv4_address: 10.4.21.36
    stdin_open: true
    tty: true
    volumes:
      - *tz
      - "/volume2/docker/acmesh:/acme.sh"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

  dbeaver:
    <<: *common
    container_name: dbeaver
    cpu_count: 1
    deploy:
      resources:
        limits:
          # cpus: "1"
          memory: 512M
    environment:
      <<: *env
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 60s
      test: ["CMD-SHELL", "curl -fsS http://127.0.0.1:8978/ >/dev/null"]
      timeout: 5s
    hostname: dbeaver
    image: "docker.io/dbeaver/cloudbeaver:latest"
    labels:
      traefik.enable: "true"
      traefik.http.routers.dbeaver.entrypoints: websecure
      traefik.http.routers.dbeaver.rule: "Host(`dbeaver.ebi.nu`)"
      traefik.http.routers.dbeaver.tls: "true"
      traefik.http.services.dbeaver.loadbalancer.server.port: 8978
    mac_address: "0e:be:00:da:00:43"
    networks:
      macvlan1:
        ipv4_address: 10.4.21.43
    volumes:
      - *tz
      - "/volume2/docker/dbeaver:/opt/cloudbeaver/workspace"

  irc:
    <<: *common
    cap_add:
      - NET_BIND_SERVICE
    container_name: irc
    cpu_count: 1
    deploy:
      resources:
        limits:
          # cpus: "1"
          memory: 512M
    environment:
      <<: *env
      PUID: 1028
      PGID: 100
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 60s
      test: ["CMD-SHELL", "wget -qO- http://127.0.0.1:9000/ >/dev/null"]
      timeout: 5s
    hostname: irc
    image: "ghcr.io/thelounge/thelounge:latest"
    labels:
      traefik.enable: "true"
      traefik.http.routers.irc.entrypoints: websecure
      traefik.http.routers.irc.rule: "Host(`irc.ebi.nu`)"
      traefik.http.routers.irc.tls: "true"
      traefik.http.services.irc.loadbalancer.server.port: 9000
    mac_address: "0e:be:00:da:00:45"
    networks:
      macvlan1:
        ipv4_address: 10.4.21.45
    # sysctls:
    #   net.ipv4.ip_unprivileged_port_start: 0
    volumes:
      - *tz
      - "/volume2/docker/irc:/var/opt/thelounge"

  smtp:
    <<: *common
    container_name: smtp
    cpu_count: 1
    deploy:
      resources:
        limits:
          # cpus: "1"
          memory: 128M
    env_file: smtp.txt
    environment:
      <<: *env
      POSTCONF_compatibility_level: 2
      POSTCONF_message_size_limit: 20480000
      RELAY_DOMAINS: ebi.nu ygg.nu
      RELAY_HOST: "[smtp.gmail.com]:587"
      RELAY_MODE: ALLOW_AUTH_NODOMAIN
      RELAY_MYDOMAIN: ebi.nu
      RELAY_MYHOSTNAME: smtp.ebi.nu
      RELAY_MYNETWORKS: 10.4.20.0/23
      RELAY_POSTMASTER: "postmaster@ebi.nu"
      RELAY_STRICT_SENDER_MYDOMAIN: false
      RELAY_TLS_CA: /etc/ssl/certs/ca-certificates.crt
      RELAY_TLS_VERIFY: encrypt
      RELAY_USE_TLS: "yes"
    hostname: smtp
    image: "docker.io/turgon37/smtp-relay:latest"
    mac_address: "0e:be:00:da:00:60"
    networks:
      macvlan1:
        ipv4_address: 10.4.21.60
    volumes:
      - *tz
      - "/volume2/docker/smtp/data:/data"
      - "/volume2/docker/smtp/spool:/var/spool/postfix"
      - "/etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro"

  vw:
    <<: *common
    cap_add:
      - NET_BIND_SERVICE
    container_name: vw
    cpu_count: 2
    deploy:
      resources:
        limits:
          # cpus: "2"
          memory: 256M
    env_file: vw.txt
    environment:
      <<: *env
      PUID: 1028
      PGID: 100
      DOMAIN: "https://vw.ebi.nu"
      PUSH_ENABLED: true
      PUSH_RELAY_URI: "https://api.bitwarden.eu"
      PUSH_IDENTITY_URI: "https://identity.bitwarden.eu"
      SIGNUPS_ALLOWED: true
      SSO_AUTH_ONLY_NOT_SESSION: true
      SSO_AUTHORITY: "https://keycloak.ebi.nu/realms/ygg"
      SSO_ENABLED: true
      SSO_SCOPES: "email offline_access openid profile"
      TRASH_AUTO_DELETE_DAYS: 30
      WEBSOCKET_ENABLED: true
    hostname: vw
    image: "docker.io/vaultwarden/server:testing"
    labels:
      traefik.enable: "true"
      traefik.http.routers.vw.entrypoints: websecure
      traefik.http.routers.vw.rule: "Host(`vw.ebi.nu`)"
      traefik.http.routers.vw.tls: "true"
      traefik.http.services.vw.loadbalancer.server.port: 80
    mac_address: "0e:be:00:da:00:46"
    networks:
      macvlan1:
        ipv4_address: 10.4.21.46
    # sysctls:
    #   net.ipv4.ip_unprivileged_port_start: 80
    volumes:
      - *tz
      - "/volume2/docker/vw:/data"
