# %YAML 1.2
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json  # yamllint disable-line
---
# version: "3.9"
name: ygg-download

networks:
  macvlan1:
    external: true

x-common: &common
  dns_search:
    - ebi.nu
    - ygg.nu
  restart: "no"
  stop_grace_period: 1m

x-env: &env
  PUID: 1028
  PGID: 100
  TZ: Etc/UTC

x-tz: &tz /usr/share/zoneinfo/Etc/UTC:/etc/localtime:ro

services:
  download:
    <<: *common
    container_name: download
    cpu_count: 1
    depends_on:
      gluetun:
        condition: service_healthy
    deploy:
      resources:
        limits:
          # cpus: "1"
          memory: 256M
    environment:
      <<: *env
      TORRENTING_PORT: 56213
      WEBUI_PORT: 8080
    healthcheck:
      interval: 30s
      retries: 1
      start_period: 10s
      test: ping -c 2 gluetun || kill 1
      timeout: 2s
    image: "lscr.io/linuxserver/qbittorrent:latest"
    labels:
      com.centurylinklabs.watchtower.depends-on: gluetun
    network_mode: "container:gluetun"
    volumes:
      - *tz
      - "/volume1/Downloads:/downloads"
      - "/volume2/docker/acmesh/tnt.photo_ecc/:/certs:ro"
      - "/volume2/docker/qbittorrent:/config"
      - "/volume2/docker/qbittorrent/ipv6-update.sh:/etc/periodic/hourly/ipv6-update.sh"
      - "/volume2/docker/qbittorrent/mam-update.sh:/etc/periodic/hourly/mam-update.sh"

  gluetun:
    <<: *common
    cap_add:
      - NET_ADMIN
      - NET_RAW
      - SYS_MODULE
    cpu_count: 1
    container_name: gluetun
    deploy:
      resources:
        limits:
          # cpus: "1"
          memory: 256M
    devices:
      - "/dev/net/tun:/dev/net/tun"
    dns:
      - 10.64.0.1
      - 10.4.21.34
      - 1.1.1.1
    env_file: gluetun.txt
    environment:
      <<: *env
      BLOCK_MALICIOUS: off
      DNS_UNBLOCK_HOSTNAMES: cloudflare.com,t.myanonamouse.net,t.ncore.sh,sptracker.cc,superbits.org,tracker.superbits.org
      HEALTH_VPN_DURATION_ADDITION: 5s
      HEALTH_VPN_DURATION_INITIAL: 30s
      SERVER_CITIES: Gothenburg
      UNBLOCK: cloudflare.com,t.myanonamouse.net,t.ncore.sh,sptracker.cc,superbits.org,tracker.superbits.org
      UPDATER_PERIOD: 24h
      VPN_SERVICE_PROVIDER: mullvad
      VPN_TYPE: wireguard
      WIREGUARD_ADDRESSES: "10.75.26.2/32,fc00:bbbb:bbbb:bb01::c:1a01/128"
      WIREGUARD_ENDPOINT_PORT: 53
    healthcheck:
      interval: 5s
      retries: 1
      start_period: 40s
      test: ["CMD", "/gluetun-entrypoint", "healthcheck"]
      timeout: 5s
    hostname: gluetun
    image: "docker.io/qmcgaw/gluetun:latest"
    mac_address: "0e:be:00:da:00:39"
    networks:
      macvlan1:
        aliases:
          - download.ebi.nu
          - download.ygg.nu
        ipv4_address: 10.4.21.39
    privileged: true
    sysctls:
      net.ipv4.conf.all.src_valid_mark: 1
      net.ipv6.conf.all.disable_ipv6: 0
    volumes:
      - *tz
      - "/volume2/docker/gluetun:/gluetun"
      - "/lib/modules:/lib/modules:ro"
