# %YAML 1.2
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json  # yamllint disable-line
---
# version: "3.9"
name: ygg-core

networks:
  macvlan1:
    external: true

x-common: &common
  dns:
    - 10.4.21.34
    - 1.1.1.1
  dns_search:
    - ebi.nu
    - ygg.nu
  restart: "no"
  stop_grace_period: 2m

x-env: &env
  TZ: Etc/UTC

x-tz: &tz /usr/share/zoneinfo/Etc/UTC:/etc/localtime:ro

secrets:
  postgres-passwd:
    file: postgres-passwd.txt
  postgres-user:
    file: postgres-user.txt

services:
  cloudflared:
    <<: *common
    command: tunnel run
    container_name: cloudflared
    cpu_count: 1
    deploy:
      resources:
        limits:
          # cpus: "1"
          memory: 128M
    env_file: cloudflared.txt
    environment:
      <<: *env
    hostname: cloudflared
    image: "docker.io/cloudflare/cloudflared:latest"
    network_mode: host
    ulimits:
      nofile:
        soft: 70000
        hard: 70000
    volumes:
      - *tz

  dns:
    <<: *common
    container_name: dns
    cpu_count: 1
    deploy:
      resources:
        limits:
          # cpus: "1"
          memory: 1024M
        reservations:
          # cpus: "0.002"
          memory: 256M
    environment:
      <<: *env
      DNS_SERVER_DOMAIN: dns
    healthcheck:
      interval: 30s
      retries: 3
      start_period: 10s
      test:
        [
          "CMD-SHELL",
          'grep -i "$(printf ''%08x:%04x'' 0 53)" /proc/net/udp >/dev/null 2>&1 || exit 1',
        ]
      timeout: 5s
    hostname: dns
    image: "docker.io/technitium/dns-server:latest"
    labels:
      traefik.enable: true
      traefik.http.routers.dns.entrypoints: websecure
      traefik.http.routers.dns.rule: "Host(`dns.ebi.nu`) || Host(`dns.ygg.nu`)"
      traefik.http.routers.dns.tls: true
      traefik.http.services.dns.loadbalancer.server.port: 5380
    mac_address: "0e:be:00:da:00:34"
    networks:
      macvlan1:
        aliases:
          - dns.ebi.nu
          - dns.ygg.nu
        ipv4_address: 10.4.21.34
    sysctls:
      net.ipv4.ip_local_port_range: "1024 65000"
    volumes:
      - *tz
      - "/volume2/docker/dns:/etc/dns"

  postgres:
    <<: *common
    container_name: postgres
    cpu_count: 2
    deploy:
      resources:
        limits:
          # cpus: "2"
          memory: 1024M
    environment:
      <<: *env
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres-passwd
      POSTGRES_USER_FILE: /run/secrets/postgres-user
    healthcheck:
      interval: 10s
      retries: 5
      start_period: 15s
      test: [CMD, pg_isready]
      timeout: 5s
    hostname: postgres
    image: "docker.io/library/postgres:17"
    mac_address: "0e:be:00:da:00:90"
    networks:
      macvlan1:
        ipv4_address: 10.4.21.90
    secrets:
      - postgres-passwd
      - postgres-user
    shm_size: 128mb
    user: "999:999"
    volumes:
      - *tz
      - "/volume2/docker/postgres:/var/lib/postgresql/data"

  traefik:
    <<: *common
    command:
      - "--api=true"
      - "--api.insecure=true"
      - "--log.level=DEBUG"
      - "--metrics.prometheus=true"
      - "--providers.docker=true"
      - "--tracing=true"
    container_name: traefik
    cpu_count: 1
    deploy:
      resources:
        limits:
          # cpus: "1"
          memory: 256M
    environment:
      <<: *env
      TRAEFIK_LOG_FORMAT: json
    healthcheck:
      interval: 30s
      retries: 3
      start_period: 30s
      test: ["CMD-SHELL", "wget -qO- http://127.0.0.1:8080"]
      timeout: 5s
    hostname: traefik
    image: "docker.io/library/traefik:v3"
    mac_address: "0e:be:00:da:00:44"
    networks:
      macvlan1:
        ipv4_address: 10.4.21.44
    volumes:
      - *tz
      - "/volume2/docker/traefik/dynamic.yml:/etc/traefik/dynamic.yml"
      - "/volume2/docker/traefik/traefik.yml:/etc/traefik/traefik.yml"
      - "/volume2/docker/acmesh/ebi.nu_ecc/:/certs:ro"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
