# %YAML 1.2
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json  # yamllint disable-line
---
# version: "3.9"
name: ygg-hass

networks:
  macvlan1:
    external: true

x-common: &common
  dns:
    - 10.4.21.34
    - 1.1.1.1
  dns_search:
    - ebi.nu
    - ygg.nu
  restart: "no"
  stop_grace_period: 5m

x-env: &env
  TZ: Etc/UTC

x-tz: &tz /usr/share/zoneinfo/Etc/UTC:/etc/localtime:ro

secrets:
  influxdb2-admin-password:
    file: influxdb2-admin-password.txt
  influxdb2-admin-token:
    file: influxdb2-admin-token.txt
  influxdb2-admin-username:
    file: influxdb2-admin-username.txt

services:
  esphome:
    <<: *common
    container_name: esphome
    cpu_count: 2
    deploy:
      resources:
        limits:
          # cpus: "2"
          memory: 2560M
    env_file: esphome.txt
    environment:
      <<: *env
    hostname: esphome
    image: "ghcr.io/esphome/esphome:stable"
    labels:
      traefik.enable: "true"
      traefik.http.routers.esphome.entrypoints: websecure
      traefik.http.routers.esphome.rule: "Host(`esphome.ebi.nu`) || Host(`esphome.ygg.nu`)"
      traefik.http.routers.esphome.tls: "true"
      traefik.http.services.esphome.loadbalancer.server.port: 6052
      traefik.http.services.esphome.loadbalancer.server.scheme: http
    mac_address: "0e:be:00:da:00:71"
    networks:
      macvlan1:
        aliases:
          - 5c53de3b-esphome
          - esphome.ebi.nu
          - esphome.ygg.nu
        ipv4_address: 10.4.21.71
    privileged: true
    stop_signal: SIGINT
    volumes:
      - *tz
      - "/volume2/docker/hass/esphome:/config"

  hass:
    <<: *common
    container_name: hass
    cpu_count: 2
    deploy:
      resources:
        limits:
          # cpus: "2"
          memory: 2048M
    environment:
      <<: *env
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 60s
      test:
        ["CMD-SHELL", "curl -fsS http://127.0.0.1:8123/ >/dev/null || exit 1"]
      timeout: 10s
    hostname: hass
    image: "ghcr.io/home-assistant/home-assistant:stable"
    labels:
      traefik.enable: "true"
      traefik.http.routers.hass.entrypoints: websecure
      traefik.http.routers.hass.rule: "Host(`hass.ebi.nu`) || Host(`hass.ygg.nu`)"
      traefik.http.routers.hass.tls: "true"
      traefik.http.services.hass.loadbalancer.server.port: 8123
    mac_address: "0e:be:00:da:00:70"
    networks:
      macvlan1:
        aliases:
          - hass.ebi.nu
          - hass.ygg.nu
        ipv4_address: 10.4.21.70
    privileged: true
    volumes:
      - *tz
      - "/volume2/docker/hass/config:/config"
      - "/run/dbus:/run/dbus:ro"

  influxdb:
    <<: *common
    container_name: influxdb
    cpu_count: 1
    deploy:
      resources:
        limits:
          # cpus: "1"
          memory: 1024M
    environment:
      <<: *env
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN_FILE: /run/secrets/influxdb2-admin-token
      DOCKER_INFLUXDB_INIT_BUCKET: home
      DOCKER_INFLUXDB_INIT_ORG: docs
      DOCKER_INFLUXDB_INIT_PASSWORD_FILE: /run/secrets/influxdb2-admin-password
      DOCKER_INFLUXDB_INIT_USERNAME_FILE: /run/secrets/influxdb2-admin-username
    hostname: influxdb
    image: "docker.io/library/influxdb:2"
    labels:
      traefik.enable: "true"
      traefik.http.routers.influxdb.entrypoints: websecure
      traefik.http.routers.influxdb.rule: "Host(`influxdb.ebi.nu`) || Host(`influxdb.ygg.nu`)"
      traefik.http.routers.influxdb.tls: "true"
      traefik.http.services.influxdb.loadbalancer.server.port: 8086
    mac_address: "0e:be:00:da:00:72"
    networks:
      macvlan1:
        aliases:
          - influxdb.ebi.nu
          - influxdb.ygg.nu
        ipv4_address: 10.4.21.72
    secrets:
      - influxdb2-admin-username
      - influxdb2-admin-password
      - influxdb2-admin-token
    volumes:
      - *tz
      - "/volume2/docker/hass/influxdb/data:/var/lib/influxdb2"
      - "/volume2/docker/hass/influxdb/config:/etc/influxdb2"

  matter-server:
    <<: *common
    cap_add:
      - NET_ADMIN
    command: >
      --storage-path /data
      --paa-root-cert-dir /data/credentials
      --bluetooth-adapter 0
      --log-level-sdk progress
      --primary-interface eth0
    container_name: matter-server
    cpu_count: 1
    deploy:
      resources:
        limits:
          # cpus: "1"
          memory: 256M
    environment:
      <<: *env
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 60s
      test:
        ["CMD-SHELL", "curl -fsS http://127.0.0.1:5580/ >/dev/null || exit 1"]
      timeout: 10s
    hostname: matter-server
    image: "ghcr.io/matter-js/python-matter-server:stable"
    mac_address: "0e:be:00:da:00:66"
    networks:
      macvlan1:
        aliases:
          - core-matter-server
          - matter-server.ebi.nu
          - matter-server.ygg.nu
        # driver_opts:
        #   com.docker.network.endpoint.sysctls: net.ipv6.conf.eth0.accept_ra_rt_info_max_plen=64  # yamllint disable-line
        ipv4_address: 10.4.21.66
    security_opt:
      - "apparmor:unconfined"
    volumes:
      - *tz
      - "/volume2/docker/hass/matter-server:/data"
      - "/run/dbus:/run/dbus:ro"

  mosquitto:
    <<: *common
    container_name: mosquitto
    cpu_count: 1
    deploy:
      resources:
        limits:
          # cpus: "1"
          memory: 256M
    environment:
      <<: *env
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 30s
      test: ["CMD-SHELL", "nc -z 127.0.0.1 1883"]
      timeout: 5s
    hostname: mosquitto
    image: "docker.io/library/eclipse-mosquitto:latest"
    mac_address: "0e:be:00:da:00:67"
    networks:
      macvlan1:
        aliases:
          - core-mosquitto
          - mosquitto.ebi.nu
          - mosquitto.ygg.nu
        ipv4_address: 10.4.21.67
    volumes:
      - *tz
      - "/volume2/docker/hass/mosquitto/config:/mosquitto/config"
      - "/volume2/docker/hass/mosquitto/data:/mosquitto/data"
      - "/volume2/docker/hass/mosquitto/log:/mosquitto/log"

  ps5-mqtt:
    <<: *common
    container_name: ps5-mqtt
    cpu_count: 1
    depends_on:
      - mosquitto
    deploy:
      resources:
        limits:
          # cpus: "1"
          memory: 256M
    entrypoint: /app/run-standalone.sh
    environment:
      <<: *env
      CONFIG_PATH: /config/options.json
      DEBUG: "@ha:ps5:*"
    healthcheck:
      interval: 5m00s
      retries: 2
      start_period: 30s
      test: ls -l /proc/*/exe | grep node
      timeout: 10s
    hostname: ps5-mqtt
    image: "ghcr.io/funkeyflo/ps5-mqtt/amd64:latest"
    labels:
      com.centurylinklabs.watchtower.depends-on: mosquitto
    mac_address: "0e:be:00:da:00:68"
    networks:
      macvlan1:
        aliases:
          - df2164f9-ps5-mqtt
        ipv4_address: 10.4.21.68
    stop_signal: SIGKILL
    volumes:
      - *tz
      - "/volume2/docker/hass/ps5-mqtt:/config"

  zigbee2mqtt:
    <<: *common
    container_name: zigbee2mqtt
    cpu_count: 1
    depends_on:
      - mosquitto
    deploy:
      resources:
        limits:
          # cpus: "1"
          memory: 256M
    environment:
      <<: *env
    group_add:
      - dialout
    healthcheck:
      interval: 30s
      retries: 3
      start_period: 30s
      test: ["CMD-SHELL", "wget -qO- http://127.0.0.1:8099"]
      timeout: 5s
    hostname: zigbee2mqtt
    image: "docker.io/koenkk/zigbee2mqtt:latest"
    labels:
      com.centurylinklabs.watchtower.depends-on: mosquitto
      traefik.enable: "true"
      traefik.http.routers.zigbee2mqtt.entrypoints: websecure
      traefik.http.routers.zigbee2mqtt.rule: "Host(`zigbee2mqtt.ebi.nu`) || Host(`zigbee2mqtt.ygg.nu`)"
      traefik.http.routers.zigbee2mqtt.tls: "true"
      traefik.http.services.zigbee2mqtt.loadbalancer.server.port: 8099
    mac_address: "0e:be:00:da:00:69"
    networks:
      macvlan1:
        aliases:
          - 45df7312-zigbee2mqtt
          - zigbee2mqtt.ebi.nu
          - zigbee2mqtt.ygg.nu
        ipv4_address: 10.4.21.69
    restart: on-failure
    volumes:
      - *tz
      - "/volume2/docker/hass/zigbee2mqtt:/app/data"
      - "/run/udev:/run/udev:ro"
