# %YAML 1.2
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json  # yamllint disable-line
---
# version: "3.9"
name: tntphoto

x-common: &common
  restart: always
  stop_grace_period: 1m

x-env: &env
  TZ: Etc/UTC

x-hc: &hc
  interval: 3m
  retries: 5
  start_interval: 5s
  start_period: 1.5m
  timeout: 10s

x-tz: &tz /usr/share/zoneinfo/Etc/UTC:/etc/localtime:ro

services:
  mariadb:
    <<: *common
    command: "--default-authentication-plugin=mysql_native_password"
    container_name: mariadb
    env_file: mariadb.txt
    environment:
      <<: *env
      MARIADB_AUTO_UPGRADE: 1
    healthcheck:
      <<: *hc
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
    hostname: mariadb
    image: "docker.io/mariadb:latest"
    networks:
      - wp_net
    ports:
      - "127.0.0.1:3306:3306"
    volumes:
      - *tz
      - "/mnt/data/tntphoto_mariadb_data/_data:/var/lib/mysql"

  nginx:
    <<: *common
    container_name: nginx
    depends_on:
      wordpress:
        condition: service_healthy
    environment:
      <<: *env
      PUID: 101
      PGID: 101
    healthcheck:
      <<: *hc
      test: ["CMD-SHELL", "nc -z localhost 443 || exit 1"]
    hostname: nginx
    image: "docker.io/nginx:alpine"
    networks:
      wp_net:
        aliases:
          - ebertek.com
          - www.ebertek.com
          - linda-ebert.com
          - www.linda-ebert.com
          - lindi-david.se
          - www.lindi-david.se
          - melindaban.com
          - www.melindaban.com
          - tnt.photo
          - www.tnt.photo
          - x.tnt.photo
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - *tz
      - "/mnt/data/tntphoto_nginx_config/_data:/etc/nginx"
      - "/mnt/data/tntphoto_wordpress_data/_data:/var/www/html"
      - "/mnt/data/tntphoto_certbot_config/_data:/etc/nginx/ssl:ro"
      - "/mnt/data/tntphoto_certbot_data/_data:/var/www/certbot"
      - "/mnt/data/tntphoto_ebertek_data/_data:/var/www/ebertek"

  wordpress:
    <<: *common
    command:
      - sh
      - -c
      - |
        apk add icu-dev
        docker-php-ext-install pdo pdo_mysql intl
        php-fpm
    container_name: wordpress
    depends_on:
      mariadb:
        condition: service_healthy
    env_file: wordpress.txt
    environment:
      <<: *env
      PUID: 82
      PGID: 82
      WORDPRESS_DB_HOST: "mariadb:3306"
    healthcheck:
      <<: *hc
      test: ["CMD-SHELL", "netstat -ltn | grep 9000"]
    hostname: wordpress
    image: "docker.io/wordpress:php8.3-fpm-alpine"
    networks:
      - wp_net
    volumes:
      - *tz
      - "/mnt/data/tntphoto_wordpress_data/_data:/var/www/html"
      - "/mnt/data/tntphoto_php_config/_data:/usr/local/etc/php/conf.d"
      - "/mnt/data/tntphoto_ebertek_data/_data:/var/www/ebertek"

networks:
  wp_net: {}
