# %YAML 1.2
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json  # yamllint disable-line
---
# version: "3.9"
name: ebertek

x-common: &common
  restart: unless-stopped
  stop_grace_period: 1m

x-env: &env
  TZ: Etc/UTC

x-tz: &tz /usr/share/zoneinfo/Etc/UTC:/etc/localtime:ro

services:
  alloy:
    <<: *common
    cap_add:
      - SYS_ADMIN
      - SYSLOG
    command: run --server.http.listen-addr=0.0.0.0:12345 --storage.path=/var/lib/alloy/data /etc/alloy/config.alloy
    devices:
      - /dev/kmsg
    environment:
      <<: *env
      ALLOY_DEPLOY_MODE: docker
      ALLOY_HOST: hc
      LOKI_URL: "http://loki.ext.tnt.photo/loki/api/v1/push"
      PROM_URL: "http://prometheus.ext.tnt.photo/api/v1/write"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget --no-verbose --tries=1 --spider http://127.0.0.1:12345/ || exit 1",
        ]
      interval: 30s
      timeout: 5s
      retries: 5
    hostname: alloy
    image: "docker.io/grafana/alloy:latest"
    volumes:
      - *tz
      - "/:/rootfs:ro"
      - "/dev/disk/:/dev/disk:ro"
      - "/dev/mapper/:/dev/mapper:ro"
      - "/mnt/data/ebertek_loki_data/_data/config.alloy:/etc/alloy/config.alloy:ro"
      - "/proc:/rootproc:ro"
      - "/sys:/sys:ro"
      - "/sys/fs/cgroup:/sys/fs/cgroup:ro"
      - "/var/lib/docker/:/var/lib/docker:ro"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

  bind9:
    <<: *common
    environment:
      <<: *env
      PUID: 100
      PGID: 101
    healthcheck:
      test: "bash -c 'exec 6<> /dev/tcp/localhost/53'"
      interval: 5m
      timeout: 10s
      retries: 5
      start_period: 20s
    hostname: bind9
    image: "docker.io/ubuntu/bind9:latest"
    network_mode: host
    volumes:
      - *tz
      - "/mnt/data/ebertek_bind9_data/_data/etc/bind:/etc/bind"
      - "/mnt/data/ebertek_bind9_data/_data/var/cache/bind:/var/cache/bind"
      - "/mnt/data/ebertek_bind9_data/_data/var/lib/bind:/var/lib/bind"
      - "/mnt/data/ebertek_bind9_data/_data/var/log:/var/log"

  watchtower:
    <<: *common
    environment:
      <<: *
      NO_COLOR: true
      WATCHTOWER_CLEANUP: true
      WATCHTOWER_LOG_FORMAT: JSON
      WATCHTOWER_ROLLING_RESTART: true
    hostname: watchtower
    image: "docker.io/nickfedor/watchtower:latest"
    volumes:
      - *tz
      - "/var/run/docker.sock:/var/run/docker.sock"
