---
name: Trigger ygg-compose sync

on:
  workflow_run:
    workflows: ["Lint"]
    types:
      - completed

permissions:
  contents: read

jobs:
  dispatch:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Send repository_dispatch to ygg-compose
        run: |
          set -e
          echo "Sending repository_dispatch to ygg-compose..."
          HTTP_RESPONSE=$(curl -s -w "%{http_code}" -o /dev/null -X POST https://api.github.com/repos/ebertek/ygg-compose/dispatches \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token ${{ secrets.PERSONAL_ACCESS_TOKEN }}" \
            -d '{"event_type": "trigger-sync"}')

          echo "HTTP Response: $HTTP_RESPONSE"
          if [ "$HTTP_RESPONSE" -ne 204 ]; then
            echo "Error: Failed to dispatch event. HTTP Status: $HTTP_RESPONSE"
            exit 1
          fi
